.App {
  text-align: center;
  list-style-type: none
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.unfinished {
  background-color: green;
}

.finished {
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 标签 */

.rc-tabs-nav-wrap{
  width:400px;
  height: 40px;
}
.rc-tabs-nav-list {
  display: flex;
  justify-content: space-between;
  justify-items: center;
 
}
.rc-tabs-tab {
  text-decoration: underline
}
.rc-tabs-tab-active {
  color: #61dafb
}

/* 弹窗 */
.modal {
  background-color: #282c34;
  border: 1px solid #61dafb;
  color: #61dafb;
  z-index: 999;
  position: fixed;
  height: 50%;
  width: 50%;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}